
* {
  font-family: system-ui;
}

aside {
  float: left;
  width: 20%;
  padding: 1%;
  border: 2px solid black;
  border-radius: 10px;
  height: 95vh;
  margin-right: 5px;
  text-align: center;
}

main {
  text-align: center;
}

#q_add_form > label {
  display: block;
  margin: 5px;
}

.body {
  background-color: lightblue;
  }

.sideQuestion {
  margin-bottom: 0px;
}

.sideAnswer {
  margin-top: 2px;
}

.navbar2 {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar2 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar2 a:hover {
  background: black;
  color: white;
}

.navbar2 a.active {
  color: white;
}

nav{
  background-color: #333;
  display:grid;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* moderator styling */

.moderator_body{
  margin: 0;
  padding: 0;
  text-align: center;
}

#main_title_moderator{
text-align: center;
text-decoration: underline;
}

.mod_titles{
  margin: 5px;
  margin-bottom: 0px;
  text-decoration: underline;
}
.question_storage{
text-align: center;
  display: inline-block;
  border: solid black;
  border-radius: 3px;
  width: 70%;
  height: 20%;
  margin: 5px;
  padding: 7px;
}
.mod_form{
  margin: 5px;
  padding: 5px;
}

.add_button, .remove_button{
border-radius: 5px;
}

#adding_element, #removing_element1, #removing_element2{
margin-left: 15px;
